

body{
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
    background-image: url(/assets_/img/main-bg.jpg);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: #0095ff;
    margin-bottom: 5px;
    text-decoration: underline;
}
p{
    margin-top: 0px;
}
b{
    color: #0095ff;
}

.header-container{
    padding-top: 75px;
}
.header-text{
    position: relative;
    left: -100px;
    border: 5px solid #0095ff;
    border-bottom: 0px;
    border-radius: 20px;
    background-color: #333;
    color: #0095ff;
    text-align: center;
    padding-left:120px;
    padding-bottom: 20px;
    margin: 0px;
    width: 35%;
    min-width: 250px; 
}
.nav-container{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    border-top: 2px solid #0095ff;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
}
.nav-links{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    transition: background-color 200ms ease-in;
}
.nav-links>a{
    transition: color 200ms ease-in;
}
.nav-links>a:link{
    color: #0095ff;
    text-decoration: none;
}
.nav-links>a:hover{
    color: #0095ff;
    text-decoration: none;
}
.nav-links>a:active{
    color: #0095ff;
    text-decoration: none;
}
.nav-links>a:visited{
    color: #0095ff;
    text-decoration: none;
}
.nav-links:hover{
    background-color: #0095ff;
    cursor: pointer;
}
.nav-links:hover>a{
    color: white;
}

.main-container{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
    position: relative;
    top: -20px;
    background-color: #222  ;
    color: white;
    padding: 30px;
    padding-top: 0px;
    z-index: 3;
}

.description-container{
    background-color: #151515;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

.project-section-container{
    display: grid;
    grid-template-columns: 20% auto;
}

.preview-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    height: 350px;
    background-color: #111;
    transition: left 200ms ease-out;
    z-index: 10;
    
}
.preview-img{
    width: 150px;
    height: 150px;
    border: 5px solid #0095ff;
    border-radius: 30px;
}
.preview-title{
    width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.preview-desc{
    width: 150px;
    height: 100px;
    border: 1px #111;
    border-radius: 0px;
    background-color:transparent;
    color: white;
    font-size: 9px;
    text-align: center;
    resize: none;
    margin-top: 2px;
    margin-bottom: 10px;
}
.preview-desc:focus{
    outline: transparent;
}
.start-button{
    width: 150px;
    height: 50px;
    background-color: #111;
    color: #0095ff;
    border: 5px solid #0095ff;
    border-radius: 50px;

    transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;
}
.start-button:hover{
    background-color: #00aaff;
    color: white;
    border: #00aaff;
}
.project-list-container{
    display: grid;
    position: relative;
    grid-template-rows: 20px auto;
    border: 5px inset #555;
    border-radius: 20px;
    height: 700px;
    z-index: 11;
}
.project-list-header{
    background-color: #111;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0px;
    padding-left: 20px;
    margin: 0px;
    color: #444;
    font-size: 16px;
}
.project-list{
    background-color: #191919;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
    padding: 0px;   
}
.projects{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 60px auto;
    width: 100%;
    height:50px;
    margin: 0px;
    padding-top:5px;
    padding-bottom: 5px;
    cursor: pointer;
    /* border-top: 4px groove #222;
    border-bottom: 4px groove #222; */
}
.project-img{
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 50px;
    border: 0px;
    margin: 0px;
}
.project-name{
    font-size: 16px;
    margin: 0px;
}
.project-date{
    padding-top: 20px;
    font-size: 9px;
    margin: 0px;
}
.projects:hover{
    background-color: #333;
}
footer{
    position: relative;
    top: -20px;
    color: white;
}
footer>p{
    position: relative;
    color: #222;
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
    z-index: 2;
}

.footer-bg{
    position: fixed;
    bottom: 0px;
    height:50%;
    width:100%;
    background-color: #111;
    z-index: 1;
}