#triangle {
    position: fixed;

    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid cyan;
	border-bottom: 25px solid transparent;
    bottom: 50%;
    top: 50%;
}

#bullet {
    position: fixed;
    
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
}