body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #151515;
}

/* main-styling */
.circular-style{
    border-radius: 50%;
}
.style-main{
    background-color: #111;
    border: 2px #00ccbb groove;
    box-shadow: 0px 1px 5px 1px #0099bb;
    color: #bbbbbb;
}
/* website name highlight */ 
h1>span{
    color: #00aabb;
    text-shadow:0px 0px 2px #00ccbb;
}
/* sub-title */
h2{
    color: #00aabb;
    border-bottom: 1px groove #00aabb;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    text-align: center;
}
/* footer header */
h3{
    margin: 0px;
}
/* footer links */
a{
    font-size: 14px;
}
a:link{
    color: #ffa500;
    text-decoration: none;
}
a:visited{
    color: #ffa500;
}
a:hover{
    color: #965500;
    text-decoration: underline;
}

/* desktop/wide horizontal aspect ratio*/
@media (min-aspect-ratio: 4/3) {
    body{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-right: 20px;
        padding-left: 10px;
        column-gap: 10px;
        row-gap: 15px;   
    }
    /* layouting */
    /* header */
    header{
        grid-column-start: 1;
        grid-column-end: 3;
        height: 90px;
        text-align: center;
        padding-top: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    /* navigation */
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    /* buttons */
    .button-container{
        position: relative;
        width: 80%;
        height: 100px;
        margin: 10px;
        transform: scale(0.9);
        transition: transform 0.1s linear;
    }
    .action-buttons{
        height: 100%;
        width: 100%;
        margin: 10px;
        border-radius: 15px;
        background-color: #222;
        border: 2px #00ccbb groove;
        box-shadow: 0px 1px 5px 1px #0099bb;
        color: #00ccbb;
        transition: box-shadow 50ms linear;
    }
    button:active{
        box-shadow: 0px 1px 20px 1px #0099bb;
    }
    /* description section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 500px;
    }
    section>textarea{
        width: 90%;
        height: 90%;
        background-color: #222;
        margin-top: 10px;
        margin-bottom: 75px;
        color: #0f0;
        border: #888 groove;
        border-radius: 5px;
        outline: 0px;
    }
    /* footer */
    footer{
        display: flex;
        flex-direction: column;
        height: 100px;
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 1px;
        padding-left: 10px;
    }
    .Github-header{
        padding: 0px;
    }
    .Github-header>h3{
        margin: 0px;
        border-bottom: 1px groove #ffa500;
        color: #ffa500;
        width: 270px;
        text-align: center;
    }
    .Github-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 65px;
    } 
    .Social-header{
        width: 50%;
        text-align: center;
    }

    .Social-links{
        text-align: center;
    }
    .img-space{
        width: 1%;
    }

    img{
        height: 50px;
        width: 50px;
        border: 3px groove grey;
        transition: border 0.1s linear;
    }
    img:hover{
        border: 5px outset #ff9a17;
        cursor: pointer;
    }
}
/* mobile/vertical aspect ratio */
@media (max-aspect-ratio: 4/3) {
    body{
        overflow:unset
    }
    /* style add-on */
    .style-main{
        margin: 20px;
    }
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 50px;
        height: 70px;
    }
    header{
        text-align: center;
        padding-top: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    /* buttons */
    .button-container{
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 140px;
        margin: 15px;
    }
    button{
        height: 100%;
        width: 90%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        background-color: #222;
        border: 2px #00ccbb groove;
        box-shadow: 0px 1px 5px 1px #0099bb;
        color: #00ccbb;
        font-size: 30px;
        transition: border .1s linear, height .1s linear, width .1s linear, box-shadow 50ms linear;
    }
    .hint{
        height: 100%;
        width: 10%;
        margin-left: 10px;
        border-radius: 0px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    button:active{
        box-shadow: 0px 1px 20px 1px #0099bb;
    }
    /* description section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    section>textarea{
        width: 90%;
        min-height: 20px;
        overflow: hidden;
        box-sizing: border-box;
        resize: none;
        font-size: 20px;

        background-color: #222;
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 10px;
        color: #0f0;
        border: #888 groove;
        border-radius: 5px;
        outline: 0px;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 100px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 1px;
        padding-left: 10px;
    }

    .Github-header{
        padding: 0px;
    }
    .Github-header>h3{
        margin: 0px;
        border-bottom: 1px groove #ffa500;
        color: #ffa500;
        width: 270px;
        text-align: center;
    }
    .Github-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 65px;
    } 
    .Social-header{
        width: 50%;
        text-align: center;
    }

    .Social-links{
        text-align: center;
    }
    .img-space{
        width: 1%;
    }
    img{
        height: 50px;
        width: 50px;
        border: 3px groove grey;
        transition: border 0.1s linear;
    }
    img:hover{
        border: 5px outset #ff9a17;
        cursor: pointer;
    }
}
